body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ced6dd;
    width: 100vw;
    min-height: 100vh;
    color: #fff;
    font-size: 26px;
}

.box {
    color: #ccc;
}
