body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: #607d8b;
    padding: 2vh;
    width: 100vw;
    min-height: 100vh;
    color: #fff;
    font-size: 26px;
}

.box {
    background: url("../../../../assets/images/security.svg") repeat left top;
    width: 50vw;
    height: 30vh;
}
